.blog {
/* blog styles start*/
/* general styles */

.blog-wrapper {
    width: 85%;
    margin: 0 auto;
    max-width: 1280px;
}

    /* header styles*/
    .landing-page {
    background-image: url("../assets/blog-1.jpeg");
}

/* main content styles*/

body {
    background-color: $background-grey;
}

header {
    background-color: white;
}

main {
    background-image: none;
    background-color: white;
    position: relative;
    top:  -60px;
}

/* title and author area */

.blog-content-container {
    width: 90%;
    margin: 0 auto;
     .article-heading, .article-info, .info-pair, ul, .share, .posts-container, .posts-info, .comment, .comment-text, .post-container, form  {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .article-heading, .info-pair {
        flex-direction: column;
    }
    
    /* article heading start */
    .article-heading {
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 70px;
        width: 80%;
        text-align: center;

    h1 {
        margin: 30px 0;
        padding-top: 40px;
        margin-bottom: 40px;
    }
    span {
        color: $primary-grey;
    }
    }
    /* article heading end */

    .article-info {
        padding-bottom: 25px;
        border-bottom: 1px solid $primary-grey;
        margin-bottom: 50px;

        .info-pair {
        align-items: flex-start;
    }

    .info-pair h3 {
        font-family: 'Playfair Display', serif;
    }

    .author-image {
        margin-right: 15px;
        border-radius: 50%;
    }

    .author-image  img{
        border-radius: 50%;
    }

    .author-container, .article-details-container{
        width: 50%;
    }

    .article-details-container {
        justify-content: space-between;
    }

    }

    .author-container, .share {
        justify-content: flex-start;
    }

    .paragraph {
        color: $primary-grey;
    }

    .paragraph:first-of-type {
        color: black;
    }
    
    .share, .info-pair h3 {
        letter-spacing: 0px;
    }

    .share {
        margin-top: 40px;
        margin-bottom: 70px;

        a {
            color: $primary-grey;
        }

        h3 {
        color: black;
        }

        .twitter:hover, .twitter:focus {
            color: #00acee;
        }

        .instagram:hover, .instagram:focus {
            color: #3f729b
        }

        .facebook:hover, .facebook:focus {
            color: #3b5998;
        }

        .google:hover, .google:focus {
            color: #4885ed
        }

    }

    h3:nth-last-of-type(2) {
       padding-bottom: 25px;
        margin-bottom: 70px;
        border-bottom: 2px solid $primary-grey;
    }

    /* card start */

    .posts-container {
        margin-bottom: 50px;
    }

    .post-card:nth-of-type(-n+2) {
        margin-right: 25px;
    }

    .post-card {
        width: calc((100% - 50px)/3);
        box-shadow: 0px 2px 2px 0px $primary-grey;

        &:hover .posts-info h3, &:focus .posts-info h3{
            text-decoration: underline;
        }
        &:hover , &:focus{
            text-decoration: underline;
            box-shadow: 0px 6px 5px 1px $secondary-grey;
        }
    }

    

    .posts-info {
        padding: 10px;
        width: 100%;
        height: 100%;
        align-items: flex-start;
        text-align: left;
        flex-direction: column;
        h3 {
            letter-spacing: 0;
            text-align: left;
            margin-bottom: 15px;
        }

        p:last-child::after {
            content: ' \2192';
        }
        
    }
    /* card end */

    /* Comment Area */

    .comment-title {
        padding-bottom: 20px;
        border-bottom: 2px solid $primary-grey;
        margin-bottom: 40px;
    }

    /* I DID NOT WRITE THIS COMMENT SHAPE, original code by user Eze, the codepen I copied most the code from https://codepen.io/talentedunicorn/pen/rEqsf*/

    /* Community comments */

    .comment {
        align-items: flex-start;
    }

    .tip {
        width: 0px;
        height: 0px;
        position: absolute;
        background: transparent;
        border: 10px solid $background-grey;
    }

    .tip-left {
        top: 10px;
        left: -25px;
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;  
    }

    .dialogbox {
        display: flex;
        flex: 1 0 calc(100% - 70px);
        min-width: 320px;
    }

    .dialogbox .body {
        position: relative;
        height: auto;
        margin: 20px 10px;
        padding: 5px;
        background-color: $background-grey;
        border-radius: 3px;
        border: 5px solid $background-grey;
        margin-top: 0;
    }

    .dialogbox .message {
        min-height: 30px;
        border-radius: 3px;
        color: $secondary-grey;
    }

    .profile-pic {
        width: 74px;
        min-width: 50px;
        margin-right: 25px;
    }

    .comment-text {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
        padding-bottom: 20px;

         p span {
            color: $turq-accent;
            font-style: italic;
        }
        .post-date {
            color: $primary-grey;
        }
    }

    
    

}
/* blog content end*/

/* blog styles end*/
} 

/* User comment form universal to contact page as well */

.post-container {
    
        align-items: flex-start;
        form, fieldset {
            width: 100%;
        }

        h2, input {
            border-bottom: 2px solid $background-grey;
        }

        h2 {
            padding-bottom: 20px;
            width: 100%;
            margin-bottom: 50px;
        }

        flex-direction: column;
        input {
            background-color: white;
        }

        .send-btn {
            background-color: #84A016;
            padding: 20px 35px;
            color:white;
            margin-bottom: 50px;
            transition: all 0.4s;
            align-self: flex-start;

            &:hover, &:focus {
                background-color: $secondary-grey;
                color: black;
            }

        }


        fieldset, .post-requirements, .posts-text {
            display: flex;
            flex-wrap: wrap;
        }

        fieldset {
            
            flex-direction: column;

            .post-requirements {
                input {
                    flex: 1 0 calc((100% - 40px)/ 3 );
                min-width: 100px;
                margin: 0 auto;
                padding: 2px 0;
                height: 37px;
                }

                input:nth-of-type(-n+2)  {
                    margin-right: 20px;
                }
            }

            .post-text {
                textarea {
                width: 100%;
                flex: 1 0 100%;
                min-width: 250px;
                margin-top: 50px;
                margin-bottom: 40px;
                resize: none;
                outline: none;
                border: none;
                border-bottom: 2px solid $background-grey;
                height: 120px;
                }
               
            }
        }
    }