.blog {
/* blog styles start*/
/* general styles */

.blog-wrapper {
    width: 85%;
    margin: 0 auto;
    max-width: 1280px;
}

    /* header styles*/
    .landing-page {
    background-image: url("../assets/blog-1.jpeg");
}

/* main content styles*/

body {
    background-color: $background-grey;
}

header {
    background-color: white;
}

main {
    background-image: none;
    background-color: white;
    position: relative;
    top:  -60px;
}

/* title and author area */

.blog-content-container {
    width: 90%;
    margin: 0 auto;
     .article-heading, .article-info, .info-pair, ul, .share, .posts-container, .posts-info, .comment, .comment-text, .post-comment, form  {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .article-heading, .info-pair {
        flex-direction: column;
    }
    
    /* article heading start */
    .article-heading {
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 70px;
        width: 80%;
        text-align: center;

    h1 {
        margin: 30px 0;
        padding-top: 40px;
        margin-bottom: 40px;
    }
    span {
        color: $primary-grey;
    }
    }
    /* article heading end */

    .article-info {
        padding-bottom: 25px;
        border-bottom: 1px solid $primary-grey;
        margin-bottom: 50px;

        .info-pair {
        align-items: flex-start;
    }

    .info-pair h3 {
        font-family: 'Playfair Display', serif;
    }

    .author-image {
        margin-right: 15px;
        border-radius: 50%;
    }

    .author-image  img{
        border-radius: 50%;
    }

    .author-container, .article-details-container{
        width: 50%;
    }

    .article-details-container {
        justify-content: space-between;
    }

    }

    .author-container, .share {
        justify-content: flex-start;
    }

    .paragraph {
        color: $primary-grey;
    }

    .paragraph:first-of-type {
        color: black;
    }
    
    .share, .info-pair h3 {
        letter-spacing: 0px;
    }

    .share {
        margin-top: 40px;
        margin-bottom: 70px;

        a {
            color: $primary-grey;
        }

        h3 {
        color: black;
        }

        li:hover , li:focus {

        }

        .twitter:hover, .twitter:focus {
            color: #00acee;
        }

        .instagram:hover, .instagram:focus {
            color: #3f729b
        }

        .facebook:hover, .facebook:focus {
            color: #3b5998;
        }

        .google:hover, .google:focus {
            color: #4885ed
        }

    }

    h3:nth-last-of-type(2) {
       padding-bottom: 25px;
        margin-bottom: 70px;
        border-bottom: 2px solid;
    }

    /* card start */

    .posts-container {
        margin-bottom: 50px;
    }

    .post-card:nth-of-type(-n+2) {
        margin-right: 25px;
    }

    .post-card {
        width: calc((100% - 50px)/3);
        box-shadow: 0px 2px 2px 0px $primary-grey;

        &:hover .posts-info h3, &:focus .posts-info h3{
            text-decoration: underline;
        }
        &:hover , &:focus{
            text-decoration: underline;
            box-shadow: 0px 5px 4px 1px $secondary-grey;
        }
    }

    

    .posts-info {
        padding: 10px;
        width: 100%;
        height: 100%;
        align-items: flex-start;
        text-align: left;
        flex-direction: column;
        h3 {
            letter-spacing: 0;
            text-align: left;
            margin-bottom: 15px;
        }

        p:last-child::after {
            content: ' \2192';
        }
        
    }
    /* card end */


}
/* blog content end*/

/* blog styles end*/
} 