.contact {
/* start of contact page styles*/

/* general styles*/



/* header styles*/
header {
    height: 90vh;

    .landing-page {
        background-image: url("../assets/contact-1.jpeg");
        height: 70vh;
    }
}

/* main styles*/
main {
    background-image: none;
    background-color: white;
}

/* footer styles*/



    /* end of contact page styles*/
}