.contact {
/* start of contact page styles*/

/* general styles*/



/* header styles*/
header {
    height: 90vh;

    .landing-page {
        background-image: url("../assets/contact-1.jpeg");
        height: 70vh;
    }
}

/* main styles*/
main {
    background-image: none;
    background-color: white;
    padding-top: 80px;
}

h1, h3 {
    text-align: left;
}

.contact-details-container {

    h1 {
        margin: 30px 0;
    }

    .description {
        margin-bottom: 80px;
    }

    .connection-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 5%;

        .connection-icon{
            margin-bottom: 10px;
        }

        .connection:nth-of-type(-n+2)  {
                    // margin-right: 20px;
                    border-right: 2px solid $background-grey;
                }

        .connection {
            min-width: 222px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex: 1 0 calc((100% - 120px)/3);
            padding: 0 20px;

        }

    }

}


.description {
    width: 60%;
}

.contact-form-container {
    margin: 30px auto;
    h2 {
        border: none;
        margin: 0;
    }

    

    input:hover::placeholder, input:focus::placeholder,textarea:hover::placeholder, textarea:focus::placeholder {
        color: black;
    }

    
    input:hover, input:focus,textarea:hover, textarea:focus {
        border-bottom: 1px solid black;
    }

    .send-btn {
        background-color: white;
        color: black;
        padding: 10px 0;
        margin-bottom: 20px;
        border-bottom: 1px solid white;
    }

    .send-btn:hover, .send-btn:focus {
        border-bottom: 1px solid black;
    }
}



/* footer styles*/

.footer-image {
    background-image: url("../assets/contact-2.jpeg");
    background-color: none;
    background-size: cover;
    height: 70vh;
}

    /* end of contact page styles*/
}