.contact {
/* start of contact page styles*/

/* general styles*/



/* header styles*/
header {
    height: 90vh;

    .landing-page {
        background-image: url("../assets/contact-1.jpeg");
        height: 70vh;
    }
}

/* main styles*/
main {
    background-image: none;
    background-color: white;
    padding: 80px 0;
}

h1, h3 {
    text-align: left;
}

.description {
    width: 80%;
}

/* footer styles*/



    /* end of contact page styles*/
}