@media (max-width: 1100px) {

    .nav-ul-links {
        display: none;
    }

    .hamburger-menu {
        display: inline-block;
        left: 20px;
        font-size: 4rem;
    }
    /* media 1100px end*/
}

@media (max-width: 990px) {
    .info-text h2.primary-title {
        margin-bottom: 30px;
    }

    .italicized {
        font-size: 1.8rem;
    }
}

@media (max-width: 600px) {
    .logo {
        left: 70%;
    }
}
