
/* about section styles */

.about-container {
    height: 100vh;
    background-color: $background-grey;
    h3 {
        color: $primary-grey;
        padding-top: 60px;
        margin-bottom: 40px;
    }
    p {
        color: $primary-grey;

        span {
            color: $black;
        }
    }
}

.about-text-container {
    width: 50%;
    padding: 0 30px;
    h2 {
        padding-bottom: 20px;
    }
}



.about-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}



.about-image {
    position: relative;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: auto;
    width: 80%;
    border: 10px solid white;
}

.about-text-container p:first-of-type{
    margin-bottom: 30px;
}

.watermark {
    position: absolute;
    bottom: -30%;
    left: -33%;
    width: 60%;
}

/* features area */

.feature-section     {
    display: flex;
    background-color: white;

    .featured-image {
        height: 100%;
        margin-left: 40px;
    }
}

.features-text-container p{
color: $primary-grey;
}

.features-container {
    display: flex;
    margin-left: 15%;
}

.features-container ul {
    display: flex;
    flex-wrap: wrap;
}

.feature {
    display: flex;
    flex: 1 1 250px;
    width: calc(50% - 40px);
    margin: 10px 20px;
}

.feature :nth-child(odd) {
    margin-right: 10px;
    margin-bottom: 10px;
}

/* testimonials area */

.testimonial {
    position: relative;
    // overflow: hidden;
    
 height: 100vh;
}

.slide-container {
 position: relative;
 display: flex;
  width: 100%;
}

.angle-left, .angle-right {
    position: absolute;
    top: 50%;
    padding: 20px;
}

.angle-left {
    left: -70px;
}

.angle-right {
    right: -70px;
}

.testimonial-content {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: white;
 height: 90vh;
 margin: 10vh auto;
 padding: 0 60px;
 position: absolute;
 transition: margin 800ms;
//  width: calc(100% / 3);

    p:first-of-type {
        color: $primary-grey;
        margin-bottom: 40px;
    }

    .italicized {
        width: 80%;
    }

    h2 {
        margin-bottom: 60px;
    }
}




.stars {
    color: #F6AB09;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.review {
    letter-spacing: normal;
}


/* Gallery area */

.gallery-section ul {
    display: flex;
    flex-wrap: wrap;
}

.gallery-section ul li {
    margin: 0 20px 20px 0;
    width: calc((100% - 40px)/3);
}





.gallery-section {

    padding-top: 50px;

    li:nth-of-type(3) {
    margin-right: 0; 
    }
    li:last-child {
    margin-right: 0; 
    }

    ul {
        margin-bottom: 50px;
    }

    h3 {
        margin-bottom: 40px;
    }

    h2 {
        margin-bottom: 50px;
    }
}

/* contact area */
.information-container {
    display: flex;
    background-color: white;
}

.info-image {
    width: 55%;
}

.info-text {
    width: 30%;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h2,h3 {
        letter-spacing: 0;
    }

    p {
        color: $primary-grey;
    }

    p span {
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        color: black;
    }

    p:first-of-type{
    margin-top: 50px;
    margin-bottom: 30px;
    
    }

    h2.primary-title {
        margin-bottom: 100px;
    }

    h3 span , h2 span {
    color: $secondary-grey;
    }
}

