html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/* General Styles */
a {
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1140px;
  width: 70%;
  margin: 0 auto;
}

.to-upper {
  text-transform: uppercase;
}

/* Provided text styles */
.primary-title {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 5.8rem;
  text-align: center;
  line-height: 26px;
  letter-spacing: 1.4px;
}

.secondary-title, h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 60px;
  letter-spacing: -1.2px;
}

.italicized {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2.4rem;
  text-align: center;
  line-height: 36px;
}

.bolded {
  font-weight: bold;
}

.subheader-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 8px;
}

.body-text, p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 30px;
  letter-spacing: 0.3px;
}

.grey-accent {
  color: #CCCCCC;
}

main {
  background-image: url(./../assets/pattern.png);
}

/* header styles */
header {
  height: 100vh;
}

header .nav-links:hover, header .nav-links:focus {
  background-color: #A4F1DC;
}

/* nav area */
nav {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-ul {
  position: relative;
  width: 100%;
}

.logo {
  position: absolute;
  left: 50%;
  margin-left: -125.9335px;
  top: 50%;
  margin-top: -25px;
}

.nav-ul, .nav-ul-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shopping-cart {
  position: relative;
}

.shopping-items {
  position: absolute;
  right: 5px;
  top: 17px;
  border-radius: 50%;
  background-color: #A4F1DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15px;
  width: 15px;
  font-size: 1.2rem;
}

.landing-page {
  height: 80vh;
  background-image: url("../assets/home-1.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.hamburger-menu {
  display: none;
}

footer, button, input {
  background-color: #0d0d0d;
}

input, button {
  border: none;
}

footer {
  height: 40vh;
}

footer .links-container, footer .copyright, footer .social-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .links-container, footer .copyright {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .links-container {
  padding-top: 50px;
}

footer a {
  padding-left: 0;
}

footer a:visited, footer h3, footer button, footer label, footer input {
  color: #CCCCCC;
}

footer a:hover, footer a:focus {
  color: white;
}

footer button:hover, footer button:focus {
  background-color: #999999;
  color: #A4F1DC;
}

footer form, footer .links-container {
  border-bottom: 2px solid #999999;
}

footer form {
  width: 440px;
}

footer fieldset {
  margin-top: 10px;
}

footer input {
  width: calc(100% - 40px);
}

footer .social-bar {
  width: 19%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* about section styles */
.about-container {
  height: 100vh;
  background-color: #EDEDED;
}

.about-container h3 {
  color: #999999;
  padding-top: 60px;
  margin-bottom: 40px;
}

.about-container p {
  color: #999999;
}

.about-container p span {
  color: #000000;
}

.about-text-container {
  width: 50%;
  padding: 0 30px;
}

.about-text-container h2 {
  padding-bottom: 20px;
}

.about-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-image {
  position: relative;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: auto;
  width: 80%;
  border: 10px solid white;
}

.about-text-container p:first-of-type {
  margin-bottom: 30px;
}

.watermark {
  position: absolute;
  bottom: -30%;
  left: -33%;
  width: 60%;
}

/* features area */
.feature-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

.feature-section .featured-image {
  height: 100%;
  margin-left: 40px;
}

.features-text-container p {
  color: #999999;
}

.features-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15%;
}

.features-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  width: calc(50% - 40px);
  margin: 10px 20px;
}

.feature :nth-child(odd) {
  margin-right: 10px;
  margin-bottom: 10px;
}

/* testimonials area */
.testimonial {
  overflow: hidden;
  height: 100vh;
}

.slide-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300%;
}

.angle-left, .angle-right {
  position: absolute;
  top: 50%;
  padding: 20px;
}

.angle-left {
  left: -70px;
}

.angle-right {
  right: -70px;
}

.testimonial-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  height: 90vh;
  margin: 10vh auto;
  padding: 0 60px;
  position: absolute;
  -webkit-transition: margin 800ms;
  transition: margin 800ms;
  width: calc(100% / 3);
}

.testimonial-content p:first-of-type {
  color: #999999;
  margin-bottom: 40px;
}

.testimonial-content .italicized {
  width: 80%;
}

.testimonial-content h2 {
  margin-bottom: 60px;
}

.stars {
  color: #F6AB09;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

.review {
  letter-spacing: normal;
}

/* Gallery area */
.gallery-section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery-section ul li {
  margin: 0 20px 20px 0;
  width: calc((100% - 40px)/3);
}

.gallery-section li:nth-of-type(3) {
  margin-right: 0;
}

.gallery-section li:last-child {
  margin-right: 0;
}

.gallery-section ul {
  margin-bottom: 50px;
}

.gallery-section h3 {
  margin-bottom: 40px;
}

.gallery-section h2 {
  margin-bottom: 50px;
}

/* contact area */
.information-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

.info-image {
  width: 55%;
}

.info-text {
  width: 30%;
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.info-text h2, .info-text h3 {
  letter-spacing: 0;
}

.info-text p {
  color: #999999;
}

.info-text p span {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: black;
}

.info-text p:first-of-type {
  margin-top: 50px;
  margin-bottom: 30px;
}

.info-text h2.primary-title {
  margin-bottom: 100px;
}

.info-text h3 span, .info-text h2 span {
  color: #CCCCCC;
}

.blog {
  /* blog styles start*/
  /* general styles */
  /* header styles*/
  /* main content styles*/
  /* title and author area */
  /* blog content end*/
  /* blog styles end*/
}

.blog .blog-wrapper {
  width: 85%;
  margin: 0 auto;
  max-width: 1280px;
}

.blog .landing-page {
  background-image: url("../assets/blog-1.jpeg");
}

.blog body {
  background-color: #EDEDED;
}

.blog header {
  background-color: white;
}

.blog main {
  background-image: none;
  background-color: white;
  position: relative;
  top: -60px;
}

.blog .blog-content-container {
  width: 90%;
  margin: 0 auto;
  /* article heading start */
  /* article heading end */
  /* card start */
  /* card end */
  /* Comment Area */
  /* I DID NOT WRITE THIS COMMENT SHAPE, original code by user Eze, the codepen I copied most the code from https://codepen.io/talentedunicorn/pen/rEqsf*/
  /* Community comments */
  /* User comment form */
}

.blog .blog-content-container .article-heading, .blog .blog-content-container .article-info, .blog .blog-content-container .info-pair, .blog .blog-content-container ul, .blog .blog-content-container .share, .blog .blog-content-container .posts-container, .blog .blog-content-container .posts-info, .blog .blog-content-container .comment, .blog .blog-content-container .comment-text, .blog .blog-content-container .post-container, .blog .blog-content-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog .blog-content-container .article-heading, .blog .blog-content-container .info-pair {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog .blog-content-container .article-heading {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-bottom: 70px;
  width: 80%;
  text-align: center;
}

.blog .blog-content-container .article-heading h1 {
  margin: 30px 0;
  padding-top: 40px;
  margin-bottom: 40px;
}

.blog .blog-content-container .article-heading span {
  color: #999999;
}

.blog .blog-content-container .article-info {
  padding-bottom: 25px;
  border-bottom: 1px solid #999999;
  margin-bottom: 50px;
}

.blog .blog-content-container .article-info .info-pair {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.blog .blog-content-container .article-info .info-pair h3 {
  font-family: 'Playfair Display', serif;
}

.blog .blog-content-container .article-info .author-image {
  margin-right: 15px;
  border-radius: 50%;
}

.blog .blog-content-container .article-info .author-image img {
  border-radius: 50%;
}

.blog .blog-content-container .article-info .author-container, .blog .blog-content-container .article-info .article-details-container {
  width: 50%;
}

.blog .blog-content-container .article-info .article-details-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog .blog-content-container .author-container, .blog .blog-content-container .share {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.blog .blog-content-container .paragraph {
  color: #999999;
}

.blog .blog-content-container .paragraph:first-of-type {
  color: black;
}

.blog .blog-content-container .share, .blog .blog-content-container .info-pair h3 {
  letter-spacing: 0px;
}

.blog .blog-content-container .share {
  margin-top: 40px;
  margin-bottom: 70px;
}

.blog .blog-content-container .share a {
  color: #999999;
}

.blog .blog-content-container .share h3 {
  color: black;
}

.blog .blog-content-container .share .twitter:hover, .blog .blog-content-container .share .twitter:focus {
  color: #00acee;
}

.blog .blog-content-container .share .instagram:hover, .blog .blog-content-container .share .instagram:focus {
  color: #3f729b;
}

.blog .blog-content-container .share .facebook:hover, .blog .blog-content-container .share .facebook:focus {
  color: #3b5998;
}

.blog .blog-content-container .share .google:hover, .blog .blog-content-container .share .google:focus {
  color: #4885ed;
}

.blog .blog-content-container h3:nth-last-of-type(2) {
  padding-bottom: 25px;
  margin-bottom: 70px;
  border-bottom: 2px solid #999999;
}

.blog .blog-content-container .posts-container {
  margin-bottom: 50px;
}

.blog .blog-content-container .post-card:nth-of-type(-n+2) {
  margin-right: 25px;
}

.blog .blog-content-container .post-card {
  width: calc((100% - 50px)/3);
  -webkit-box-shadow: 0px 2px 2px 0px #999999;
          box-shadow: 0px 2px 2px 0px #999999;
}

.blog .blog-content-container .post-card:hover .posts-info h3, .blog .blog-content-container .post-card:focus .posts-info h3 {
  text-decoration: underline;
}

.blog .blog-content-container .post-card:hover, .blog .blog-content-container .post-card:focus {
  text-decoration: underline;
  -webkit-box-shadow: 0px 6px 5px 1px #CCCCCC;
          box-shadow: 0px 6px 5px 1px #CCCCCC;
}

.blog .blog-content-container .posts-info {
  padding: 10px;
  width: 100%;
  height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog .blog-content-container .posts-info h3 {
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 15px;
}

.blog .blog-content-container .posts-info p:last-child::after {
  content: ' \2192';
}

.blog .blog-content-container .comment-title {
  padding-bottom: 20px;
  border-bottom: 2px solid #999999;
  margin-bottom: 40px;
}

.blog .blog-content-container .comment {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.blog .blog-content-container .tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #EDEDED;
}

.blog .blog-content-container .tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.blog .blog-content-container .dialogbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(100% - 70px);
          flex: 1 0 calc(100% - 70px);
  min-width: 320px;
}

.blog .blog-content-container .dialogbox .body {
  position: relative;
  height: auto;
  margin: 20px 10px;
  padding: 5px;
  background-color: #EDEDED;
  border-radius: 3px;
  border: 5px solid #EDEDED;
  margin-top: 0;
}

.blog .blog-content-container .dialogbox .message {
  min-height: 30px;
  border-radius: 3px;
  color: #CCCCCC;
}

.blog .blog-content-container .profile-pic {
  width: 74px;
  min-width: 50px;
  margin-right: 25px;
}

.blog .blog-content-container .comment-text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 15px;
  padding-bottom: 20px;
}

.blog .blog-content-container .comment-text p span {
  color: #A4F1DC;
  font-style: italic;
}

.blog .blog-content-container .comment-text .post-date {
  color: #999999;
}

.blog .blog-content-container .post-container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog .blog-content-container .post-container form, .blog .blog-content-container .post-container fieldset {
  width: 100%;
}

.blog .blog-content-container .post-container h2, .blog .blog-content-container .post-container input {
  border-bottom: 2px solid #EDEDED;
}

.blog .blog-content-container .post-container h2 {
  padding-bottom: 20px;
  width: 100%;
  margin-bottom: 50px;
}

.blog .blog-content-container .post-container input {
  background-color: white;
}

.blog .blog-content-container .post-container .send-btn {
  background-color: #84A016;
  padding: 20px 35px;
  color: white;
  margin-bottom: 50px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.blog .blog-content-container .post-container .send-btn:hover, .blog .blog-content-container .post-container .send-btn:focus {
  background-color: #CCCCCC;
  color: black;
}

.blog .blog-content-container .post-container fieldset, .blog .blog-content-container .post-container .post-requirements, .blog .blog-content-container .post-container .posts-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog .blog-content-container .post-container fieldset {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog .blog-content-container .post-container fieldset .post-requirements input {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc((100% - 40px)/ 3);
          flex: 1 0 calc((100% - 40px)/ 3);
  min-width: 100px;
  margin: 0 auto;
  padding: 2px 0;
  height: 37px;
}

.blog .blog-content-container .post-container fieldset .post-requirements input:nth-of-type(-n+2) {
  margin-right: 20px;
}

.blog .blog-content-container .post-container fieldset .post-text textarea {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  min-width: 250px;
  margin-top: 50px;
  margin-bottom: 40px;
  resize: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #EDEDED;
  height: 120px;
}

.contact {
  /* start of contact page styles*/
  /* general styles*/
  /* header styles*/
  /* main styles*/
  /* footer styles*/
  /* end of contact page styles*/
}

.contact header {
  height: 90vh;
}

.contact header .landing-page {
  background-image: url("../assets/contact-1.jpeg");
  height: 70vh;
}

.contact main {
  background-image: none;
  background-color: white;
  padding: 80px 0;
}

.contact h1, .contact h3 {
  text-align: left;
}

.contact .description {
  width: 80%;
}
